.shadow-warn {
	background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
	top: 0;
	left: 0;
  cursor: pointer;
  position: absolute;
  display: grid;
  place-items: center;
  pointer-events: auto;
  opacity: 0;
	z-index: 200;
}

.modal-warn {
	width: fit-content;
  background-color: var(--white-color);
  position: relative;
  display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 30px;
  margin: 0 auto;
  opacity: 0;
  cursor: auto;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
}

.display-animation-warn {
  animation: showModalWarn 0.3s ease-in-out 0.3s forwards;
}
@keyframes showModalWarn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.remove-animation-warn {
  animation: removeModalWarn 0.3s ease-in-out forwards;
}
@keyframes removeModalWarn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.modal-warn__message {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
}

.agree-btn-warn {
	padding: 12px 24px;
	background-color: var(--tropical-indigo-color);
	color: var(--white-color);
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 400;
	transition: background-color 0.3s ease-in-out;
	width: fit-content;
}

.agree-btn-warn:hover {
	background-color: var(--baby-purple-color);
	transition: background-color 0.3s ease-in-out;
}

.agree-btn-warn:focus {
	outline: none;
	background-color: var(--tropical-indigo-color);
	transition: background-color 0.3s ease-in-out;
}

.agree-btn-warn:active {
	background-color: var(--tropical-indigo-color);
	transition: background-color 0.3s ease-in-out;
}